/node_modules
/public/hot
/storage/public/feed-uploads
/public/storage
/storage/*.key
/vendor
/public/robots.txt
.env.example
.env.backup
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess
package-lock.json
composer.lock
composer.lock
sitemap.xml